In [42]:
import pandas as pd
import pytz

In [39]:
tempo = pd.read_csv('INMET_SE_SP_A701_SAO PAULO - MIRANTE_01-01-2019_A_31-12-2019.CSV', sep=';', header=8, encoding='utf-8')

df1 = pd.read_csv("rota32893.csv")
df2 = pd.read_csv("rota33642.csv")

In [40]:
tempo = tempo[['Data','Hora UTC','PRECIPITACAO TOTAL, HORARIO (mm)','TEMPERATURA MAXIMA NA HORA ANT. (AUT) (°C)','TEMPERATURA MINIMA NA HORA ANT. (AUT) (°C)','UMIDADE RELATIVA DO AR, HORARIA (%)','VENTO, VELOCIDADE HORARIA (m/s)']]
tempo = tempo.loc[(tempo['Data']>='2019/07/01') & (tempo['Data']<= '2019/09/30')]

In [49]:

tempo['Data2'] = pd.to_datetime(tempo['Data']+' '+tempo['Hora UTC'])

In [52]:
tempo['Data2'].dt.tz_convert(pytz.timezone('America/Sao_Paulo'))

AttributeError: 'Series' object has no attribute 'astimezone'

In [50]:
tempo

,Data,Hora UTC,"PRECIPITACAO TOTAL, HORARIO (mm)",TEMPERATURA MAXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MINIMA NA HORA ANT. (AUT) (°C),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, VELOCIDADE HORARIA (m/s)",Data2
4344,2019/07/01,0000 UTC,0,"22,3","21,5",54,"1,4",2019-07-01 00:00:00+00:00
4345,2019/07/01,0100 UTC,0,"21,5","21,1",56,"1,3",2019-07-01 01:00:00+00:00
4346,2019/07/01,0200 UTC,0,"21,2","20,6",56,",6",2019-07-01 02:00:00+00:00
4347,2019/07/01,0300 UTC,0,"20,7","20,3",56,"1,1",2019-07-01 03:00:00+00:00
4348,2019/07/01,0400 UTC,0,"20,7","20,2",56,"1,7",2019-07-01 04:00:00+00:00
...,...,...,...,...,...,...,...,...
6547,2019/09/30,1900 UTC,0,"28,5","24,2",49,"3,3",2019-09-30 19:00:00+00:00
6548,2019/09/30,2000 UTC,0,"24,6","23,5",55,"2,7",2019-09-30 20:00:00+00:00
6549,2019/09/30,2100 UTC,0,"23,7","21,1",59,"1,8",2019-09-30 21:00:00+00:00
6550,2019/09/30,2200 UTC,0,"21,1","19,3",69,"2,4",2019-09-30 22:00:00+00:00
6551,2019/09/30,2300 UTC,0,"19,3","17,8",76,"1,5",2019-09-30 23:00:00+00:00